@font-face {
  font-family: 'electronica';
  src: url("../fonts/electronica.eot");
  src: url("../fonts/electronica.eot?#iefix") format('embedded-opentype'), url("../fonts/electronica.woff") format('woff'), url("../fonts/electronica.ttf") format('truetype'), url("../fonts/electronica.svg#electronica") format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'electronica';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-electronicaarrow-down,
.icon-electronicadots,
.icon-electronicaflickr,
.icon-electronicadribbble,
.icon-electronicarenren,
.icon-electronicaarrow-down-2,
.icon-electronicaarrow-up--upload,
.icon-electronicaarrow-right,
.icon-electronicaarrow-left,
.icon-electronicaarrow-down-3,
.icon-electronicaarrow-up,
.icon-electronicaarrow-right-2,
.icon-electronicaarrow-left-2,
.icon-electronicaarrow-down-4,
.icon-electronicaarrow-up-2,
.icon-electronicaarrow-right-3,
.icon-electronicaarrow-left-3,
.icon-electronicaarrow-down-5,
.icon-electronicaarrow-up-3,
.icon-electronicaarrow-right-4,
.icon-electronicadaniel-bruce,
.icon-electronicatumblr,
.icon-electronicaflattr,
.icon-electronicaarrow-up-4,
.icon-electronicaarrow-right-5,
.icon-electronicaarrow-left-4,
.icon-electronicaarrow-down-6,
.icon-electronicaarrow-up-5,
.icon-electronicaarrow-right-6,
.icon-electronicaarrow-left-5,
.icon-electronicaarrow-down-7,
.icon-electronicaarrow-up-6,
.icon-electronicauntitled,
.icon-electronicaarrow-left-6,
.icon-electronicaarrow-down-8,
.icon-electronicadot,
.icon-electronicacc,
.icon-electronicacc-by,
.icon-electronicacc-nc,
.icon-electronicacc-nc-eu,
.icon-electronicacc-nc-jp,
.icon-electronicacc-sa,
.icon-electronicacc-nd,
.icon-electronicacc-pd,
.icon-electronicacc-zero,
.icon-electronicacc-share,
.icon-electronicacc-share-2,
.icon-electronicaflickr-2,
.icon-electronicavimeo,
.icon-electronicavimeo-2,
.icon-electronicatwitter,
.icon-electronicatwitter-2,
.icon-electronicafacebook,
.icon-electronicafacebook-2,
.icon-electronicafacebook-3,
.icon-electronicagoogleplus,
.icon-electronicagoogleplus-2,
.icon-electronicapinterest,
.icon-electronicapinterest-2,
.icon-electronicadribbble-2,
.icon-electronicastumbleupon,
.icon-electronicastumbleupon-2,
.icon-electronicalastfm,
.icon-electronicalastfm-2,
.icon-electronicardio,
.icon-electronicardio-2,
.icon-electronicaspotify,
.icon-electronicaspotify-2,
.icon-electronicaqq,
.icon-electronicainstagram,
.icon-electronicadropbox,
.icon-electronicasina-weibo,
.icon-electronicapaypal,
.icon-electronicapicasa,
.icon-electronicasoundcloud,
.icon-electronicamixi,
.icon-electronicabehance,
.icon-electronicacircles,
.icon-electronicavk,
.icon-electronicasmashing,
.icon-electronicaarrow-right-7,
.icon-electronicaarrow-left-7,
.icon-electronicamenu,
.icon-electronicaellipsis,
.icon-electronicagithub,
.icon-electronicagithub-2,
.icon-electronicalinkedin,
.icon-electronicalinkedin-2,
.icon-electronicaskype,
.icon-electronicaskype-2,
.icon-electronicaarrow-up-7,
.icon-electronicadaniel-bruce-2,
.icon-electronicatumblr-2,
.icon-electronicaevernote,
.icon-electronicaflow-line,
.icon-electronicaflow-parallel,
.icon-electronicaarrow-left-8,
.icon-electronicaphone,
.icon-electronicamobile,
.icon-electronicamouse,
.icon-electronicadirections,
.icon-electronicamail,
.icon-electronicapaperplane,
.icon-electronicapencil,
.icon-electronicafeather,
.icon-electronicapaperclip,
.icon-electronicadrawer,
.icon-electronicareply,
.icon-electronicareply-all,
.icon-electronicaforward,
.icon-electronicauser,
.icon-electronicausers,
.icon-electronicauser-add,
.icon-electronicavcard,
.icon-electronicaexport,
.icon-electronicalocation,
.icon-electronicamap,
.icon-electronicacompass,
.icon-electronicalocation-2,
.icon-electronicatarget,
.icon-electronicashare,
.icon-electronicasharable,
.icon-electronicaheart,
.icon-electronicaheart-2,
.icon-electronicastar,
.icon-electronicastar-2,
.icon-electronicathumbs-up,
.icon-electronicathumbs-down,
.icon-electronicachat,
.icon-electronicacomment,
.icon-electronicaquote,
.icon-electronicahouse,
.icon-electronicapopup,
.icon-electronicasearch,
.icon-electronicaflashlight,
.icon-electronicaprinter,
.icon-electronicabell,
.icon-electronicalink,
.icon-electronicaflag,
.icon-electronicacog,
.icon-electronicatools,
.icon-electronicatrophy,
.icon-electronicatag,
.icon-electronicacamera,
.icon-electronicamegaphone,
.icon-electronicamoon,
.icon-electronicapalette,
.icon-electronicaleaf,
.icon-electronicamusic,
.icon-electronicamusic-2,
.icon-electronicanew,
.icon-electronicagraduation,
.icon-electronicabook,
.icon-electronicanewspaper,
.icon-electronicabag,
.icon-electronicaairplane,
.icon-electronicalifebuoy,
.icon-electronicaeye,
.icon-electronicaclock,
.icon-electronicamicrophone,
.icon-electronicacalendar,
.icon-electronicabolt,
.icon-electronicathunder,
.icon-electronicadroplet,
.icon-electronicacd,
.icon-electronicabriefcase,
.icon-electronicaair,
.icon-electronicahourglass,
.icon-electronicagauge,
.icon-electronicalanguage,
.icon-electronicanetwork,
.icon-electronicakey,
.icon-electronicabattery,
.icon-electronicabucket,
.icon-electronicamagnet,
.icon-electronicadrive,
.icon-electronicacup,
.icon-electronicarocket,
.icon-electronicabrush,
.icon-electronicasuitcase,
.icon-electronicacone,
.icon-electronicaearth,
.icon-electronicakeyboard,
.icon-electronicabrowser,
.icon-electronicapublish,
.icon-electronicaprogress-3,
.icon-electronicaprogress-2,
.icon-electronicabrogress-1,
.icon-electronicaprogress-0,
.icon-electronicasun,
.icon-electronicasun-2,
.icon-electronicaadjust,
.icon-electronicacode,
.icon-electronicascreen,
.icon-electronicainfinity,
.icon-electronicalight-bulb,
.icon-electronicacredit-card,
.icon-electronicadatabase,
.icon-electronicavoicemail,
.icon-electronicaclipboard,
.icon-electronicacart,
.icon-electronicabox,
.icon-electronicaticket,
.icon-electronicarss,
.icon-electronicasignal,
.icon-electronicathermometer,
.icon-electronicadroplets,
.icon-electronicauntitled-2,
.icon-electronicastatistics,
.icon-electronicapie,
.icon-electronicabars,
.icon-electronicagraph,
.icon-electronicalock,
.icon-electronicalock-open,
.icon-electronicalogout,
.icon-electronicalogin,
.icon-electronicacheckmark,
.icon-electronicacross,
.icon-electronicaminus,
.icon-electronicaplus,
.icon-electronicacross-2,
.icon-electronicaminus-2,
.icon-electronicaplus-2,
.icon-electronicacross-3,
.icon-electronicaminus-3,
.icon-electronicaplus-3,
.icon-electronicaerase,
.icon-electronicablocked,
.icon-electronicainfo,
.icon-electronicainfo-2,
.icon-electronicaquestion,
.icon-electronicahelp,
.icon-electronicawarning,
.icon-electronicacycle,
.icon-electronicacw,
.icon-electronicaccw,
.icon-electronicashuffle,
.icon-electronicaarrow,
.icon-electronicaarrow-2,
.icon-electronicaretweet,
.icon-electronicaloop,
.icon-electronicahistory,
.icon-electronicaback,
.icon-electronicaswitch,
.icon-electronicalist,
.icon-electronicaadd-to-list,
.icon-electronicalayout,
.icon-electronicalist-2,
.icon-electronicatext,
.icon-electronicatext-2,
.icon-electronicadocument,
.icon-electronicadocs,
.icon-electronicalandscape,
.icon-electronicapictures,
.icon-electronicavideo,
.icon-electronicamusic-3,
.icon-electronicafolder,
.icon-electronicaarchive,
.icon-electronicatrash,
.icon-electronicaupload,
.icon-electronicadownload,
.icon-electronicadisk,
.icon-electronicainstall,
.icon-electronicacloud,
.icon-electronicaupload-2,
.icon-electronicabookmark,
.icon-electronicabookmarks,
.icon-electronicabook-2,
.icon-electronicaplay,
.icon-electronicapause,
.icon-electronicarecord,
.icon-electronicastop,
.icon-electronicanext,
.icon-electronicaprevious,
.icon-electronicafirst,
.icon-electronicalast,
.icon-electronicaresize-enlarge,
.icon-electronicaresize-shrink,
.icon-electronicavolume,
.icon-electronicasound,
.icon-electronicamute,
.icon-electronicaflow-cascade,
.icon-electronicaflow-branch,
.icon-electronicaflow-tree {
  font-family: 'electronica';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-electronicaarrow-down:before {
  content: "\e000";
}
.icon-electronicadots:before {
  content: "\e00d";
}
.icon-electronicaflickr:before {
  content: "\e01a";
}
.icon-electronicadribbble:before {
  content: "\e027";
}
.icon-electronicarenren:before {
  content: "\e034";
}
.icon-electronicaarrow-down-2:before {
  content: "\e03e";
}
.icon-electronicaarrow-up--upload:before {
  content: "\e03f";
}
.icon-electronicaarrow-right:before {
  content: "\e040";
}
.icon-electronicaarrow-left:before {
  content: "\e041";
}
.icon-electronicaarrow-down-3:before {
  content: "\e042";
}
.icon-electronicaarrow-up:before {
  content: "\e043";
}
.icon-electronicaarrow-right-2:before {
  content: "\e044";
}
.icon-electronicaarrow-left-2:before {
  content: "\e045";
}
.icon-electronicaarrow-down-4:before {
  content: "\e046";
}
.icon-electronicaarrow-up-2:before {
  content: "\e047";
}
.icon-electronicaarrow-right-3:before {
  content: "\e048";
}
.icon-electronicaarrow-left-3:before {
  content: "\e049";
}
.icon-electronicaarrow-down-5:before {
  content: "\e04a";
}
.icon-electronicaarrow-up-3:before {
  content: "\e04b";
}
.icon-electronicaarrow-right-4:before {
  content: "\e002";
}
.icon-electronicadaniel-bruce:before {
  content: "\e004";
}
.icon-electronicatumblr:before {
  content: "\e006";
}
.icon-electronicaflattr:before {
  content: "\e008";
}
.icon-electronicaarrow-up-4:before {
  content: "\e009";
}
.icon-electronicaarrow-right-5:before {
  content: "\e00a";
}
.icon-electronicaarrow-left-4:before {
  content: "\e00b";
}
.icon-electronicaarrow-down-6:before {
  content: "\e00c";
}
.icon-electronicaarrow-up-5:before {
  content: "\e00e";
}
.icon-electronicaarrow-right-6:before {
  content: "\e00f";
}
.icon-electronicaarrow-left-5:before {
  content: "\e010";
}
.icon-electronicaarrow-down-7:before {
  content: "\e011";
}
.icon-electronicaarrow-up-6:before {
  content: "\e012";
}
.icon-electronicauntitled:before {
  content: "\e013";
}
.icon-electronicaarrow-left-6:before {
  content: "\e014";
}
.icon-electronicaarrow-down-8:before {
  content: "\e015";
}
.icon-electronicadot:before {
  content: "\e001";
}
.icon-electronicacc:before {
  content: "\e016";
}
.icon-electronicacc-by:before {
  content: "\e017";
}
.icon-electronicacc-nc:before {
  content: "\e018";
}
.icon-electronicacc-nc-eu:before {
  content: "\e019";
}
.icon-electronicacc-nc-jp:before {
  content: "\e01b";
}
.icon-electronicacc-sa:before {
  content: "\e01c";
}
.icon-electronicacc-nd:before {
  content: "\e01d";
}
.icon-electronicacc-pd:before {
  content: "\e01e";
}
.icon-electronicacc-zero:before {
  content: "\e01f";
}
.icon-electronicacc-share:before {
  content: "\e020";
}
.icon-electronicacc-share-2:before {
  content: "\e021";
}
.icon-electronicaflickr-2:before {
  content: "\e003";
}
.icon-electronicavimeo:before {
  content: "\e022";
}
.icon-electronicavimeo-2:before {
  content: "\e023";
}
.icon-electronicatwitter:before {
  content: "\e024";
}
.icon-electronicatwitter-2:before {
  content: "\e025";
}
.icon-electronicafacebook:before {
  content: "\e026";
}
.icon-electronicafacebook-2:before {
  content: "\e028";
}
.icon-electronicafacebook-3:before {
  content: "\e029";
}
.icon-electronicagoogleplus:before {
  content: "\e02a";
}
.icon-electronicagoogleplus-2:before {
  content: "\e02b";
}
.icon-electronicapinterest:before {
  content: "\e02c";
}
.icon-electronicapinterest-2:before {
  content: "\e02d";
}
.icon-electronicadribbble-2:before {
  content: "\e005";
}
.icon-electronicastumbleupon:before {
  content: "\e02e";
}
.icon-electronicastumbleupon-2:before {
  content: "\e02f";
}
.icon-electronicalastfm:before {
  content: "\e030";
}
.icon-electronicalastfm-2:before {
  content: "\e031";
}
.icon-electronicardio:before {
  content: "\e032";
}
.icon-electronicardio-2:before {
  content: "\e033";
}
.icon-electronicaspotify:before {
  content: "\e035";
}
.icon-electronicaspotify-2:before {
  content: "\e036";
}
.icon-electronicaqq:before {
  content: "\e037";
}
.icon-electronicainstagram:before {
  content: "\e038";
}
.icon-electronicadropbox:before {
  content: "\e039";
}
.icon-electronicasina-weibo:before {
  content: "\e007";
}
.icon-electronicapaypal:before {
  content: "\e03a";
}
.icon-electronicapicasa:before {
  content: "\e03b";
}
.icon-electronicasoundcloud:before {
  content: "\e03c";
}
.icon-electronicamixi:before {
  content: "\e03d";
}
.icon-electronicabehance:before {
  content: "\e04c";
}
.icon-electronicacircles:before {
  content: "\e04d";
}
.icon-electronicavk:before {
  content: "\e04e";
}
.icon-electronicasmashing:before {
  content: "\e04f";
}
.icon-electronicaarrow-right-7:before {
  content: "\e050";
}
.icon-electronicaarrow-left-7:before {
  content: "\e051";
}
.icon-electronicamenu:before {
  content: "\e052";
}
.icon-electronicaellipsis:before {
  content: "\e053";
}
.icon-electronicagithub:before {
  content: "\e054";
}
.icon-electronicagithub-2:before {
  content: "\e055";
}
.icon-electronicalinkedin:before {
  content: "\e056";
}
.icon-electronicalinkedin-2:before {
  content: "\e057";
}
.icon-electronicaskype:before {
  content: "\e058";
}
.icon-electronicaskype-2:before {
  content: "\e059";
}
.icon-electronicaarrow-up-7:before {
  content: "\e05a";
}
.icon-electronicadaniel-bruce-2:before {
  content: "\e05b";
}
.icon-electronicatumblr-2:before {
  content: "\e05c";
}
.icon-electronicaevernote:before {
  content: "\e05d";
}
.icon-electronicaflow-line:before {
  content: "\e05e";
}
.icon-electronicaflow-parallel:before {
  content: "\e05f";
}
.icon-electronicaarrow-left-8:before {
  content: "\e060";
}
.icon-electronicaphone:before {
  content: "\e061";
}
.icon-electronicamobile:before {
  content: "\e062";
}
.icon-electronicamouse:before {
  content: "\e063";
}
.icon-electronicadirections:before {
  content: "\e064";
}
.icon-electronicamail:before {
  content: "\e065";
}
.icon-electronicapaperplane:before {
  content: "\e066";
}
.icon-electronicapencil:before {
  content: "\e067";
}
.icon-electronicafeather:before {
  content: "\e068";
}
.icon-electronicapaperclip:before {
  content: "\e069";
}
.icon-electronicadrawer:before {
  content: "\e06a";
}
.icon-electronicareply:before {
  content: "\e06b";
}
.icon-electronicareply-all:before {
  content: "\e06c";
}
.icon-electronicaforward:before {
  content: "\e06d";
}
.icon-electronicauser:before {
  content: "\e06e";
}
.icon-electronicausers:before {
  content: "\e06f";
}
.icon-electronicauser-add:before {
  content: "\e070";
}
.icon-electronicavcard:before {
  content: "\e071";
}
.icon-electronicaexport:before {
  content: "\e072";
}
.icon-electronicalocation:before {
  content: "\e073";
}
.icon-electronicamap:before {
  content: "\e074";
}
.icon-electronicacompass:before {
  content: "\e075";
}
.icon-electronicalocation-2:before {
  content: "\e076";
}
.icon-electronicatarget:before {
  content: "\e077";
}
.icon-electronicashare:before {
  content: "\e078";
}
.icon-electronicasharable:before {
  content: "\e079";
}
.icon-electronicaheart:before {
  content: "\e07a";
}
.icon-electronicaheart-2:before {
  content: "\e07b";
}
.icon-electronicastar:before {
  content: "\e07c";
}
.icon-electronicastar-2:before {
  content: "\e07d";
}
.icon-electronicathumbs-up:before {
  content: "\e07e";
}
.icon-electronicathumbs-down:before {
  content: "\e07f";
}
.icon-electronicachat:before {
  content: "\e080";
}
.icon-electronicacomment:before {
  content: "\e081";
}
.icon-electronicaquote:before {
  content: "\e082";
}
.icon-electronicahouse:before {
  content: "\e083";
}
.icon-electronicapopup:before {
  content: "\e084";
}
.icon-electronicasearch:before {
  content: "\e085";
}
.icon-electronicaflashlight:before {
  content: "\e086";
}
.icon-electronicaprinter:before {
  content: "\e087";
}
.icon-electronicabell:before {
  content: "\e088";
}
.icon-electronicalink:before {
  content: "\e089";
}
.icon-electronicaflag:before {
  content: "\e08a";
}
.icon-electronicacog:before {
  content: "\e08b";
}
.icon-electronicatools:before {
  content: "\e08c";
}
.icon-electronicatrophy:before {
  content: "\e08d";
}
.icon-electronicatag:before {
  content: "\e08e";
}
.icon-electronicacamera:before {
  content: "\e08f";
}
.icon-electronicamegaphone:before {
  content: "\e090";
}
.icon-electronicamoon:before {
  content: "\e091";
}
.icon-electronicapalette:before {
  content: "\e092";
}
.icon-electronicaleaf:before {
  content: "\e093";
}
.icon-electronicamusic:before {
  content: "\e094";
}
.icon-electronicamusic-2:before {
  content: "\e095";
}
.icon-electronicanew:before {
  content: "\e096";
}
.icon-electronicagraduation:before {
  content: "\e097";
}
.icon-electronicabook:before {
  content: "\e098";
}
.icon-electronicanewspaper:before {
  content: "\e099";
}
.icon-electronicabag:before {
  content: "\e09a";
}
.icon-electronicaairplane:before {
  content: "\e09b";
}
.icon-electronicalifebuoy:before {
  content: "\e09c";
}
.icon-electronicaeye:before {
  content: "\e09d";
}
.icon-electronicaclock:before {
  content: "\e09e";
}
.icon-electronicamicrophone:before {
  content: "\e09f";
}
.icon-electronicacalendar:before {
  content: "\e0a0";
}
.icon-electronicabolt:before {
  content: "\e0a1";
}
.icon-electronicathunder:before {
  content: "\e0a2";
}
.icon-electronicadroplet:before {
  content: "\e0a3";
}
.icon-electronicacd:before {
  content: "\e0a4";
}
.icon-electronicabriefcase:before {
  content: "\e0a5";
}
.icon-electronicaair:before {
  content: "\e0a6";
}
.icon-electronicahourglass:before {
  content: "\e0a7";
}
.icon-electronicagauge:before {
  content: "\e0a8";
}
.icon-electronicalanguage:before {
  content: "\e0a9";
}
.icon-electronicanetwork:before {
  content: "\e0aa";
}
.icon-electronicakey:before {
  content: "\e0ab";
}
.icon-electronicabattery:before {
  content: "\e0ac";
}
.icon-electronicabucket:before {
  content: "\e0ad";
}
.icon-electronicamagnet:before {
  content: "\e0ae";
}
.icon-electronicadrive:before {
  content: "\e0af";
}
.icon-electronicacup:before {
  content: "\e0b0";
}
.icon-electronicarocket:before {
  content: "\e0b1";
}
.icon-electronicabrush:before {
  content: "\e0b2";
}
.icon-electronicasuitcase:before {
  content: "\e0b3";
}
.icon-electronicacone:before {
  content: "\e0b4";
}
.icon-electronicaearth:before {
  content: "\e0b5";
}
.icon-electronicakeyboard:before {
  content: "\e0b6";
}
.icon-electronicabrowser:before {
  content: "\e0b7";
}
.icon-electronicapublish:before {
  content: "\e0b8";
}
.icon-electronicaprogress-3:before {
  content: "\e0b9";
}
.icon-electronicaprogress-2:before {
  content: "\e0ba";
}
.icon-electronicabrogress-1:before {
  content: "\e0bb";
}
.icon-electronicaprogress-0:before {
  content: "\e0bc";
}
.icon-electronicasun:before {
  content: "\e0bd";
}
.icon-electronicasun-2:before {
  content: "\e0be";
}
.icon-electronicaadjust:before {
  content: "\e0bf";
}
.icon-electronicacode:before {
  content: "\e0c0";
}
.icon-electronicascreen:before {
  content: "\e0c1";
}
.icon-electronicainfinity:before {
  content: "\e0c2";
}
.icon-electronicalight-bulb:before {
  content: "\e0c3";
}
.icon-electronicacredit-card:before {
  content: "\e0c4";
}
.icon-electronicadatabase:before {
  content: "\e0c5";
}
.icon-electronicavoicemail:before {
  content: "\e0c6";
}
.icon-electronicaclipboard:before {
  content: "\e0c7";
}
.icon-electronicacart:before {
  content: "\e0c8";
}
.icon-electronicabox:before {
  content: "\e0c9";
}
.icon-electronicaticket:before {
  content: "\e0ca";
}
.icon-electronicarss:before {
  content: "\e0cb";
}
.icon-electronicasignal:before {
  content: "\e0cc";
}
.icon-electronicathermometer:before {
  content: "\e0cd";
}
.icon-electronicadroplets:before {
  content: "\e0ce";
}
.icon-electronicauntitled-2:before {
  content: "\e0cf";
}
.icon-electronicastatistics:before {
  content: "\e0d0";
}
.icon-electronicapie:before {
  content: "\e0d1";
}
.icon-electronicabars:before {
  content: "\e0d2";
}
.icon-electronicagraph:before {
  content: "\e0d3";
}
.icon-electronicalock:before {
  content: "\e0d4";
}
.icon-electronicalock-open:before {
  content: "\e0d5";
}
.icon-electronicalogout:before {
  content: "\e0d6";
}
.icon-electronicalogin:before {
  content: "\e0d7";
}
.icon-electronicacheckmark:before {
  content: "\e0d8";
}
.icon-electronicacross:before {
  content: "\e0d9";
}
.icon-electronicaminus:before {
  content: "\e0da";
}
.icon-electronicaplus:before {
  content: "\e0db";
}
.icon-electronicacross-2:before {
  content: "\e0dc";
}
.icon-electronicaminus-2:before {
  content: "\e0dd";
}
.icon-electronicaplus-2:before {
  content: "\e0de";
}
.icon-electronicacross-3:before {
  content: "\e0df";
}
.icon-electronicaminus-3:before {
  content: "\e0e0";
}
.icon-electronicaplus-3:before {
  content: "\e0e1";
}
.icon-electronicaerase:before {
  content: "\e0e2";
}
.icon-electronicablocked:before {
  content: "\e0e3";
}
.icon-electronicainfo:before {
  content: "\e0e4";
}
.icon-electronicainfo-2:before {
  content: "\e0e5";
}
.icon-electronicaquestion:before {
  content: "\e0e6";
}
.icon-electronicahelp:before {
  content: "\e0e7";
}
.icon-electronicawarning:before {
  content: "\e0e8";
}
.icon-electronicacycle:before {
  content: "\e0e9";
}
.icon-electronicacw:before {
  content: "\e0ea";
}
.icon-electronicaccw:before {
  content: "\e0eb";
}
.icon-electronicashuffle:before {
  content: "\e0ec";
}
.icon-electronicaarrow:before {
  content: "\e0ed";
}
.icon-electronicaarrow-2:before {
  content: "\e0ee";
}
.icon-electronicaretweet:before {
  content: "\e0ef";
}
.icon-electronicaloop:before {
  content: "\e0f0";
}
.icon-electronicahistory:before {
  content: "\e0f1";
}
.icon-electronicaback:before {
  content: "\e0f2";
}
.icon-electronicaswitch:before {
  content: "\e0f3";
}
.icon-electronicalist:before {
  content: "\e0f4";
}
.icon-electronicaadd-to-list:before {
  content: "\e0f5";
}
.icon-electronicalayout:before {
  content: "\e0f6";
}
.icon-electronicalist-2:before {
  content: "\e0f7";
}
.icon-electronicatext:before {
  content: "\e0f8";
}
.icon-electronicatext-2:before {
  content: "\e0f9";
}
.icon-electronicadocument:before {
  content: "\e0fa";
}
.icon-electronicadocs:before {
  content: "\e0fb";
}
.icon-electronicalandscape:before {
  content: "\e0fc";
}
.icon-electronicapictures:before {
  content: "\e0fd";
}
.icon-electronicavideo:before {
  content: "\e0fe";
}
.icon-electronicamusic-3:before {
  content: "\e0ff";
}
.icon-electronicafolder:before {
  content: "\e100";
}
.icon-electronicaarchive:before {
  content: "\e101";
}
.icon-electronicatrash:before {
  content: "\e102";
}
.icon-electronicaupload:before {
  content: "\e103";
}
.icon-electronicadownload:before {
  content: "\e104";
}
.icon-electronicadisk:before {
  content: "\e105";
}
.icon-electronicainstall:before {
  content: "\e106";
}
.icon-electronicacloud:before {
  content: "\e107";
}
.icon-electronicaupload-2:before {
  content: "\e108";
}
.icon-electronicabookmark:before {
  content: "\e109";
}
.icon-electronicabookmarks:before {
  content: "\e10a";
}
.icon-electronicabook-2:before {
  content: "\e10b";
}
.icon-electronicaplay:before {
  content: "\e10c";
}
.icon-electronicapause:before {
  content: "\e10d";
}
.icon-electronicarecord:before {
  content: "\e10e";
}
.icon-electronicastop:before {
  content: "\e10f";
}
.icon-electronicanext:before {
  content: "\e110";
}
.icon-electronicaprevious:before {
  content: "\e111";
}
.icon-electronicafirst:before {
  content: "\e112";
}
.icon-electronicalast:before {
  content: "\e113";
}
.icon-electronicaresize-enlarge:before {
  content: "\e114";
}
.icon-electronicaresize-shrink:before {
  content: "\e115";
}
.icon-electronicavolume:before {
  content: "\e116";
}
.icon-electronicasound:before {
  content: "\e117";
}
.icon-electronicamute:before {
  content: "\e118";
}
.icon-electronicaflow-cascade:before {
  content: "\e119";
}
.icon-electronicaflow-branch:before {
  content: "\e11a";
}
.icon-electronicaflow-tree:before {
  content: "\e11b";
}
* {
  margin: 0;
  padding: 0;
}
body,
html.no-cssgradients {
  background-color: #aaa;
}
.ie6 html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: url("../images/img01.gif") repeat-x left top;
  font-size: 16px;
  text-align: justify;
  color: #333;
  font-family: Tahoma;
}
#header {
  width: 95%;
  margin: 0 auto;
  height: 42px;
  text-align: center;
}
#menu {
  border-radius: 0.5em;
  margin: 0 auto;
  width: 960px;
  height: 50px;
  background: url("../images/header-wrapper.svg") no-repeat left top;
}
#nav {
  display: inline-block;
  width: 95%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: left;
  font-family: arial, Helvetica;
}
ul#navigation {
  margin: 0px auto;
  text-align: right;
}
ul#navigation li {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}
ul#navigation li a {
  padding: 13px 25px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-right: 2px solid #007294;
  vertical-align: top;
  background-color: #007294;
  background-image: linear-gradient(top, #008dab, #007294);
  border-radius: 0.4em;
}
ul#navigation li a:hover {
  background: #007294;
  color: #fff;
}
ul#navigation li:hover > a {
  background: #007294;
}
ul#navigation li:hover > ul {
  visibility: visible;
  opacity: 0.9;
}
ul#navigation ul,
ul#navigation ul li ul {
  list-style: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
  position: absolute;
  z-index: 99999;
  width: 180px;
  background: #f8f8f8;
  box-shadow: 1px 1px 3px #ccc;
  border-radius: 0.4em;
  opacity: 0;
}
ul#navigation ul {
  top: 40px;
}
ul#navigation ul li ul {
  top: 0;
  left: 181px;
}
ul#navigation ul li {
  clear: both;
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
}
ul#navigation ul li a {
  background: none;
  padding: 7px 15px;
  color: #888;
  text-decoration: none;
  display: inline-block;
  border: 0 none;
  float: left;
  clear: both;
  width: 150px;
}
ul#navigation li a.first {
  border-left: 0 none;
}
ul#navigation li a.last {
  border-right: 0 none;
}
#container {
  margin: 0.4em auto;
}
#page {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  padding: 0 25px;
}
#form-pagos {
  margin: 0em auto;
  border-radius: 0.3em;
  width: 300px;
}
#form-fecha {
  margin: 0.5em auto;
  border-radius: 1em;
  border: 0.3em solid #007294;
  width: 500px;
}
#form-refacciones {
  margin: 0.2em auto;
  border-radius: 0.1em;
  width: auto;
}
#form-telefono-proveedor {
  margin: 0.5em auto;
  border-radius: 1em;
  border: 0.3em solid #007294;
  padding: 0.5em;
  width: 400px;
}
.label-refacciones {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.25em 0 0;
  color: #000;
}
.ie6 body,
.ie7 body,
.ie8 body {
  border-color: #255b17;
  border-style: solid;
  border-width: 0 1px;
}
.ie6 body {
  height: 100%;
}
a:link,
a:visited,
a:hover {
  color: #2c6a80;
  text-decoration: none;
}
a:hover,
a:active {
  outline: none;
  color: #0a7da5;
}
h1 {
  color: #2c6a80;
  font-weight: normal;
  font-size: 1.25em;
  margin: 0.8em 0 0.3em 0;
}
ul {
  padding: 0;
}
img {
  border: 0;
}
#grailsLogo {
  width: 960px;
  margin: 1em auto;
  text-align: left;
}
#grailsLogo a {
  display: block;
}
#img-main {
  margin: 1em;
  text-align: center;
}
#img-main img {
  border-radius: 0.5em;
}
.content,
.content h1 {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 1em 0;
  padding: 0;
  font-size: 1em;
}
.scaffold-list h1 {
  border: none;
}
.container-footer {
  display: block;
  margin: 0 auto;
  width: 960px;
  border-radius: 0.5em;
  background: url("../images/header-wrapper.svg") no-repeat left top;
  background-image: linear-gradient(top, #008dab, #007294);
}
.footer {
  color: #fff;
  clear: both;
  font-size: 0.8em;
  margin-top: 1.5em;
  padding: 1em;
  min-height: 1em;
  background-image: linear-gradient(top, #008dab, #007294);
  border-radius: 0.4em;
  width: 95%;
  margin: 0 auto;
}
.spinner {
  background: url("../images/spinner.gif") 50% 50% no-repeat transparent;
  height: 16px;
  width: 16px;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  text-indent: -9999px;
}
.nav {
  padding: 0.2em;
  zoom: 1;
  font-family: Tahoma;
  font-size: 10pt;
}
.nav ul {
  overflow: hidden;
  padding-left: 0;
  zoom: 1;
}
.nav li {
  display: block;
  float: left;
  list-style-type: none;
  margin-right: 0.5em;
  padding: 0;
}
.nav a {
  color: #666;
  font-weight: bold;
  display: block;
  padding: 0.25em 0.7em;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}
.nav a:active,
.nav a:visited {
  color: #413e3e;
}
.nav a:focus,
.nav a:hover {
  background-color: #999;
  color: #fff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
.no-borderradius .nav a:focus,
.no-borderradius .nav a:hover {
  background-color: transparent;
  color: #444;
  text-decoration: underline;
}
.nav a.home,
.nav a.list,
.nav a.create {
  background-position: 0.7em center;
  background-repeat: no-repeat;
  text-indent: 25px;
}
.nav a.home {
  background-image: url("../images/skin/house.png");
}
.nav a.list {
  background-image: url("../images/skin/database_table.png");
}
.nav a.create {
  background-image: url("../images/skin/database_add.png");
}
.icon-grid {
  display: inline-block;
  font-family: Tahoma;
  font-size: 9pt;
}
fieldset {
  border: none;
}
.property-list {
  margin: 0.6em 1.25em 0 1.25em;
  padding: 0.3em 1.8em 1.25em;
  position: relative;
  zoom: 1;
  border: none;
}
.property-list .fieldcontain {
  list-style: none;
  zoom: 1;
}
.fieldcontain {
  margin-top: 1em;
}
.fieldcontain .property-label {
  color: #666;
  text-align: right;
  width: 25%;
}
.fieldcontain label {
  width: 90%;
  color: #666;
  text-align: left;
}
.fieldcontain .property-label {
  float: left;
}
.fieldcontain .property-value {
  display: block;
  margin-left: 27%;
}
.fieldcontain .property-value-open {
  display: block;
  background: #d1ecb6;
  font-size: 2em;
  text-align: center;
}
.fieldcontain .property-value-close {
  display: block;
  background: #ecb6b6;
  font-size: 2em;
  text-align: center;
}
label {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.25em 0 0;
}
.required-indicator {
  color: #57adc7;
  display: inline-block;
  font-weight: bold;
  margin-left: 0.3em;
  position: relative;
  top: 0.1em;
}
ul.one-to-many {
  display: inline-block;
  list-style-position: inside;
  vertical-align: top;
}
.ie6 ul.one-to-many,
.ie7 ul.one-to-many {
  display: inline;
  zoom: 1;
}
ul.one-to-many li.add {
  list-style-type: none;
}
fieldset.embedded {
  background-color: transparent;
  border: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
fieldset.embedded legend {
  margin: 0 1em;
}
.errors,
.message {
  font-size: 0.8em;
  line-height: 2;
  margin: 1em 2em;
  padding: 0.5em;
}
.message {
  background: #f3f3ff;
  border: 1px solid #b2d1ff;
  color: #006dba;
  -moz-box-shadow: 0 0 0.25em #b2d1ff;
  -webkit-box-shadow: 0 0 0.25em #b2d1ff;
  box-shadow: 0 0 0.25em #b2d1ff;
}
.errors {
  background: #fff3f3;
  border: 1px solid #faa;
  color: #c00;
  -moz-box-shadow: 0 0 0.25em #f88;
  -webkit-box-shadow: 0 0 0.25em #f88;
  box-shadow: 0 0 0.25em #f88;
}
.errors ul,
.message {
  padding: 0;
}
.errors li {
  list-style: none;
  background: transparent url("../images/skin/exclamation.png") 0 50% no-repeat;
  text-indent: 22px;
}
.message {
  background: transparent url("../images/skin/information.png") 0 50% no-repeat;
  text-indent: 22px;
}
table {
  border: 1px solid #dfdfdf;
  border-collapse: collapse;
  width: 100%;
}
tr {
  border: 0;
}
tr>td:first-child,
tr>th:first-child {
  padding-left: 1.25em;
}
tr>td:last-child,
tr>th:last-child {
  padding-right: 1.25em;
}
td,
th {
  line-height: 1.5em;
  padding: 0.5em 0.6em;
  text-align: left;
  vertical-align: top;
}
th {
  background-color: #efefef;
  color: #666;
  font-weight: bold;
  line-height: 1.7em;
  padding: 0.2em 0.6em;
}
thead th {
  white-space: nowrap;
}
th a {
  display: block;
  text-decoration: none;
}
th a:link,
th a:visited {
  color: #666;
}
th a:hover,
th a:focus {
  color: #333;
}
th.sortable a {
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 1.1em;
}
th.asc a {
  background-image: url("../images/skin/sorted_asc.gif");
}
th.desc a {
  background-image: url("../images/skin/sorted_desc.gif");
}
.odd {
  background: #f7f7f7;
}
.even {
  background: #fff;
}
.ordenOpen {
  background: #d1ecb6;
}
.ordenClose {
  background: #ecb6b6;
}
th:hover,
tr:hover {
  background: #b6e7f1;
}
.buttons {
  padding: 0.3em;
  margin: 1em 0 0 0;
  border: 0;
}
.buttonsGrid {
  background-color: #eee;
  overflow: hidden;
  padding: 0.3em;
}
.buttonsGrid div,
.buttons input,
.buttons div,
.buttons a {
  background-color: transparent;
  border: 0;
  color: #666;
  cursor: pointer;
  display: inline-block;
  margin: 0 0.25em 0;
  overflow: visible;
  padding: 0.25em 0.7em;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}
.buttons input:hover,
.buttons input:focus,
.buttons div:hover,
.buttons div:focus,
.buttons a:hover,
.buttons a:focus,
.buttonsGrid div:hover {
  background-color: #999;
  color: #fff;
  outline: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-borderradius .buttons input:hover,
.no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover,
.no-borderradius .buttons a:focus {
  background-color: transparent;
  color: #444;
  text-decoration: underline;
}
.buttons .delete,
.buttons .edit,
.buttons .save,
.buttons .search,
.buttons .close,
.buttons .ready,
.buttons .closeIcon,
.buttons .saveIcon,
.buttonsGrid .searchIcon,
.buttonsGrid .closeIcon {
  background-position: 0.7em center;
  background-repeat: no-repeat;
  text-indent: 25px;
}
.buttons .delete {
  background-image: url("../images/skin/database_delete.png");
}
.buttons .edit {
  background-image: url("../images/skin/database_edit.png");
}
.buttons .save {
  background-image: url("../images/skin/database_save.png");
}
.buttons .closeIcon,
.buttonsGrid .closeIcon {
  background-image: url("../images/cerrar.png");
  background-size: 25px 25px;
}
.buttonsGrid .searchIcon {
  background-image: url("../images/Search.png");
  background-size: 25px 25px;
}
.buttons .saveIcon {
  background-image: url("../images/Floppy.png");
  background-size: 25px 25px;
}
.buttons .search {
  background-image: url("../images/skin/search.gif");
}
.buttons .close {
  background-image: url("../images/skin/close.gif");
}
.buttons .ready {
  background-image: url("../images/skin/ready.gif");
}
a.skip {
  position: absolute;
  left: -9999px;
}
#guardarajax {
  border: 0px;
  background: url("../images/Floppy.png") no-repeat;
}
.btnGuardar {
  background-image: url("../images/Floppy.png");
  background-size: 80px 60px;
  background-repeat: no-repeat;
}
#slide-fecha-open:hover {
  background-size: 80px 60px;
}
#overlay-orden-show {
  background: #fff;
  position: absolute;
  left: 650px;
  top: 400px;
  visibility: hidden;
  width: 350px;
  border: 0.1em solid #808080;
  margin: 0.5em auto;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  box-shadow: 0 0 50px #000;
  -moz-box-shadow: 0 0 50px #000;
  -webkit-box-shadow: 0 0 50px #000;
}
#overlay-entrada-show {
  background: #fff;
  position: absolute;
  left: 650px;
  top: 400px;
  visibility: hidden;
  width: 350px;
  border: 0.1em solid #808080;
  margin: 0.5em auto;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  box-shadow: 0 0 50px #000;
  -moz-box-shadow: 0 0 50px #000;
  -webkit-box-shadow: 0 0 50px #000;
}
#overlayClient {
  background: #fff;
  position: absolute;
  left: 350px;
  top: 200px;
  visibility: hidden;
  width: 700px;
  border: 0.1em solid #808080;
  margin: 0.2em auto;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  box-shadow: 0 0 50px #000;
  -moz-box-shadow: 0 0 50px #000;
  -webkit-box-shadow: 0 0 50px #000;
}
#overlay {
  background: #fff;
  position: absolute;
  left: 650px;
  top: 200px;
  visibility: hidden;
  width: 350px;
  border: 0.1em solid #808080;
  margin: 0.5em auto;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  box-shadow: 0 0 50px #000;
  -moz-box-shadow: 0 0 50px #000;
  -webkit-box-shadow: 0 0 50px #000;
}
#overlay div#overlayContainer {
  background-color: #fff;
  position: relative;
  padding: 15px;
  text-align: left;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-shadow: 0 0 50px #000;
  -webkit-box-shadow: 0 0 50px #000;
}
#modal-refacciones {
  background: #000;
  position: absolute;
  left: 330px;
  top: 370px;
  visibility: hidden;
  min-width: 40%;
  text-align: left;
  border: 0.2 solid #333;
  opacity: 0.9;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-shadow: 0 0 50px #000;
  -webkit-box-shadow: 0 0 50px #000;
}
#modal-refacciones div#overlayContainer {
  background-color: #fff;
  position: relative;
  padding: 15px;
  text-align: left;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-shadow: 0 0 50px #000;
  -webkit-box-shadow: 0 0 50px #000;
}
#imgPagos {
  display: inline-block;
  vertical-align: top;
}
.vform {
  width: 100%;
  max-width: 360px;
}
.hform {
  width: 100%;
  max-width: 420px;
}
.vform,
.hform {
  margin-bottom: 20px;
  font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.vform label {
  width: 100%;
}
.hform label {
  width: 40%;
}
.vform label,
.hform  label {
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  margin-bottom: 2px;
  display: block;
  float: left;
  text-align: left;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select {
  width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 2px 1px;
  vertical-align: middle;
  outline: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  transition: border linear 0.4s, box-shadow linear 0.4s;
  -o-transition: border linear 0.4s, box-shadow linear 0.4s;
  -moz-transition: border linear 0.4s, box-shadow linear 0.4s;
  -webkit-transition: border linear 0.4s, box-shadow linear 0.4s;
  margin: 0;
  margin-bottom: 10px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  border: 1px solid;
  border-color: rgba(82,168,236,0.8);
  color: #444;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(81,168,236,0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(81,168,236,0.5);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(81,168,236,0.5);
}
.form {
  width: 300px;
  padding: 0 25px 0 100px;
}
.forms {
  width: 95%;
  display: block;
  margin: 0 auto;
}
.container-form-overlay {
  margin: 0 auto;
  display: block;
  padding: 1em;
}
.form-left {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  padding: 0.5em;
}
.form-right {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  padding: 0.5em;
}
.icon-electronicaarrow-down-4,
.icon-electronicapencil,
.icon-electronicatrash,
.icon-electronicaarrow-up-2,
.icon-electronicaarrow-right-3,
.icon-electronicadisk,
.icon-electronicasearch,
.icon-electronicacross {
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.icon-electronicaarrow-down-4:hover,
.icon-electronicapencil:hover,
.icon-electronicatrash:hover,
.icon-electronicaarrow-up-2:hover,
.icon-electronicaarrow-right-3:hover,
.icon-electronicadisk:hover,
.icon-electronicasearch:hover,
.icon-electronicacross:hover {
  color: #000;
}
